* {
  font-family: 'Montserrat', sans-serif;
}

.hero_image {
  background-image: url(media/union.png)
}


@media (max-width: 920px) {
  .flexing {
  display: flex;
  flex-direction: column;
}
}
.one {
  width: 130px;
}

.two {
  width: 160px;
}

.twon {
  width: 180px;
}

.twop {
  width: 170px;
}

@media screen and (min-width: 724px) {
  .up-image {
    width: 644px;
  }
}
